<div *ngIf="data" class="ngx-dnd-container">

    <div *ngFor="let group of data.mailGroups" class="mail-group {{group.props.className}}">
        <div class="card-column-header">
            <p>{{group.name}}</p>
        </div>

        <smooth-dnd-container [groupName]="'col'" [dropClass]="'card-ghost-drop'"
            [orientation]="'data.props.orientation'" [groupName]="'col'" (drop)="onCardDrop(group.id, $event)"
            [getChildPayload]="getCardPayload(group.id)" [dragClass]="'card-ghost opacity-ghost'"
            [dropClass]="'card-ghost-drop opacity-ghost-drop'" (dragStart)="log('drag start', $event)"
            (dragEnd)="log('drag end', $event)">

            <smooth-dnd-draggable *ngFor="let mail of group.mails">
                <div [ngClass]="mail.props.className" [ngStyle]="mail.props.style">
                    <p>
                        {{mail.name}}
                    </p>
                </div>
            </smooth-dnd-draggable>
        </smooth-dnd-container>

    </div>

</div>